<div id="space_list" >
    <h1>Listing all spaces</h1>
    <table>
        <% @spaces.each do |space| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >
            <td>
                <img height="100px" src="<%= image_path space.img_url %>"/>
            </td>
            <td class="list_description" >
                <dl>
                    <dt><%= space.name %></dt>
                    <dd><%= space.desc %></dd>
                    <!--<dd><%= truncate(strip_tags(space.desc), :length => 80) %></dd>-->
                </dl>
            </td>
            <td class="" >
                <%= link_to 'Show', space %><br/>
                <%= link_to 'Edit', edit_space_path(space) %><br/>
                <%= link_to 'Destroy', space,
                  :data => {:confirm => 'Are you sure?'},
                :method => :delete %>
            </td>
        </tr>
        <% end %>
    </table>
</div>

<br />
<br />
<br />

<!-- generated -->
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Suburb</th>
    <th>City</th>
    <th>Desc</th>
    <th>Capacity</th>
    <th>Price</th>
    <th>Img url</th>
    <th>Availability</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  

<% @spaces.each do |space| %>
  <tr>
    <td><%= space.name %></td>
    <td><%= space.address %></td>
    <td><%= space.suburb %></td>
    <td><%= space.city %></td>
    <td><%= space.desc %></td>
    <td><%= space.capacity %></td>
    <td><%= space.price %></td>
    <td><img width="100px" src="<%= image_path space.img_url %>"/></td>
    <td><%= space.availability %></td>
    <td><%= link_to 'Show', space %></td>
    <td><%= link_to 'Edit', edit_space_path(space) %></td>
    <td><%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<!-- generated -->

<br />

<%= link_to 'New Space', new_space_path %>

<%= link_to 'Booking Request', new_bookingreq_path %>
